@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 260 30% 98%;
  --foreground: 260 50% 10%;
  --primary: 266 81% 54%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
}