@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F8F9FA; /* Light gray background */
  color: #111827; /* Dark text */
  font-family: 'Outfit', sans-serif; /* Your chosen font */
  -webkit-font-smoothing: antialiased;
}

/* Custom utility for the card look */
@layer components {
  .app-card {
    @apply bg-white rounded-2xl p-4 shadow-sm border border-gray-100;
  }
}